.full-width-input {
  width: 100%;
  text-align: center;
}

.MuiButtonBase-root.MuiButton-root.custom-save-button {
  background-color: rgb(194, 32, 50);
  color: rgb(255, 255, 255);
}

.custom-border-color {
  border-color: rgb(4, 149, 63);
}